<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - RanobeHub</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><p>RanobeHub</p></li>
                <li><a asp-area="" asp-controller="Books" asp-action="Index">Home</a></li>
                <li><a href="news.asp">Genre</a></li>
                <li><a href="about.asp">About</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            &copy; 2020 - RanobeHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
